<!-- Guidance Section -->
    <section id="guidance">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Guidance</h2>
                    <h3 class="section-subheading text-muted">Server Architect Guidance.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="guidance">
                                <img class="guidance-img" src="img/AWS/AWS1.png">
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="guidance">
                                <img class="guidance-img" src="img/AWS/AWS2.png">
                            </div>
                        </li>
                        <li>
                            <div class="guidance">
                                <img class="guidance-img" src="img/AWS/AWS3.png">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>